
h3{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
table{
    border: whitesmoke;
    
    
}
thead{
    text-align: center;
    background-color: rgb(155, 216, 75);
}

td{
    text-align: center;
    padding: 10px;
    background-color: rgb(206, 206, 172);
}